---
layout: default
title: Meet the Orchestra
group: about
group-weight: 3
permalink: /about/orchestra/
---

<div>
  <h1>Meet the Orchestra</h1>

  {% assign members = site.members | where: 'weight', 1 | sort: 'name' %}
  {% for member in members %}
    {% include member.html %}
  {% endfor %}

  {% assign members = site.members | where: 'weight', 2 | sort: 'name' %}
  {% for member in members %}
    {% include member.html %}
  {% endfor %}

  {% assign members = site.members | where: 'weight', 3 | sort: 'name' %}
  {% for member in members %}
    {% include member.html %}
  {% endfor %}
</div>
