---
layout: default
title: Concerts
slug: concert
permalink: /concerts/
---

<div>
  <h1>OSM Concerts for 2016-17</h1>

  <p>
    Experience OSM concerts in the initimacy of superb acoustics of the Ann and Jerry Moss Theater. We hope you will enjoy the wonderful ambience, comfort, and viewing perspectives of this new 344-seat state-of-the-art venue. For directions and additonal information on the hall, please visit <a href="http://www.mosstheater.com/" target="_blank">Moss Theater</a>.
  </p>

  {% include location-moss-theater.html %}

  <p>
    <b>Parking</b>: Free on-site and near-by street parking
  </p>

  <p>
    <b>Expo Line</b>: Bergamot Station stop at 26th/Olympic (short 10 minute walk)
  </p>

  {% assign timestamp = site.time | date: '%s' %}
  {% assign concerts = site.concerts | sort: 'date' %}
  {% for concert in concerts %}
    {% assign concertTimestamp = concert.date | date: '%s' %}

    {% if concertTimestamp >= timestamp %}
      {% include concert-summary.html %}
    {% endif %}
  {% endfor %}

  <p>
    These programs are made possible in part by a grant from the City of Santa Monica and the Santa Monica Arts Commission. Also, Orchestra Santa monica is uspported in part by the Los Angeles County Board of Supervisors through the Los Angeles County Arts Commission.
  </p>

  <p>
    New Roads School is a diverse and cohesive educational community, reflective of the kaleidoscope of cultures, ethnicities, beliefs, and orientations that make our larger Los Angeles community so vibrant. We believe that a meaningful 21st century education must include a diverse cohort as well as intergration with the larger community in order to prepare students for conscientious participatory lives and not merely to ready theme for college.
  </p>
</div>
