---
layout: default
---

<div>
  <h1>Welcome to OSM!</h1>

  <div>
    <p>
      Orchestra Santa Monica (OSM) is happy to be celebrating its 5-year anniversary this season and thanks you for your wonderful support! We're excited to be presenting wonderful programming in 2016-17 and look forward to seeing you at our opening concert in October. For a complete list of this season's concert programs, please see our "Concerts" page and be sure to mark these dates on your calendar.
    </p>

    {% assign timestamp = site.time | date: '%s' %}
    {% assign concerts = site.concerts | sort: 'date' %}
    {% for concert in concerts %}
      {% assign concertTimestamp = concert.date | date: '%s' %}

      {% if concertTimestamp >= timestamp %}
        {% include concert.html %}

        {% break %}
      {% endif %}
    {% endfor %}

    <div>
      <p>Hear OSM playing the lively vivace movement from Mendelssohn's Scottish Symphony.</p>

      <iframe width="100%" height="210" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=soundcloud.com/user-874682015/osm-plays-mendelssohn-symphony-no-3-movement-2"></iframe>
    </div>

    <p>
      <i>Orchestra Santa Monica is dedicated to building a strong community of classical music lovers of all ages and making a positive impact on the quality of people's lives.</i>
    </p>
  </div>
</div>
