---
layout: default
---

<div>
  <h1>Home</h1>

  <img src="" />

  <div>
    <div>
      <iframe width="100%" height="210" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=soundcloud.com/user-874682015/osm-plays-mendelssohn-symphony-no-3-movement-2"></iframe>

      <p>Many thanks for helping us reach our $10k Fundraiser goal!</p>
    </div>

    <div>
      <p>
        Orchestra Santa Monica is dedicated to building a strong community of classical music lovers of all ages and making a positive impact on the quality of people's lives.
      </p>

      <p>
        {% assign donate = site.pages | where: 'slug', 'support-donate' | first %}
        <a href={{donate.url}}>{{donate.title}}</a>
      </p>

      <p>
        {% assign contact = site.pages | where: 'slug', 'contact' | first %}
        <a href={{contact.url}}>{{contact.title}}</a>
      </p>
    </div>

    {% assign concerts = site.concerts | sort: 'date' %}
    {% for concert in concerts %}
      {% include concert-summary.html %}
    {% endfor %}
  </div>
</div>
