<article class="concert">
  <header class="concert-header">
    <h1 class="concert-title">
      {{ concert.title }}

      <span class="concert-date">{{ concert.date | date: '%B %-d, %Y %l:%M %p' }}</span>
    </h1>
  </header>

  <div class="concert-content">
    {% for description in concert.descriptions %}
      <p class="concert-description">{{ description }}</p>
    {% endfor %}

    <p class="concert-feature">{{ concert.feature }}</p>

    <ol class="concert-music-list">
      {% for music in concert.musics %}
        <li class="concert-music-item">{{ music }}</li>
      {% endfor %}
    </ol>

    <hr />

    {% if concert.location %}
      {% include {{ concert.location | append: '.html' }} %}
    {% endif %}
  </div>
</article>
